<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>

  <body>
    <a href="articles/new" class="new-article-btn">New Article</a>
    <div class="container">
      <% articles.forEach((article) => { %>
      <div class="article-container">
        <h3 class="title"><%= article.title %></h3>
        <small class="date"><%= article.createdAt.toLocaleDateString()%></small>
        <p class="desc"><%= article.markdown %></p>

        <a href="/articles/<%= article._id %>" class="btn read-more-btn"
          >Read More</a
        >
        <a href="" class="btn edit-btn">Update</a>
        <a href="" class="btn delete-btn">Delete</a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
